<header class="markdown pb-8 mb-8">
    {{ partial:breadcrumbs }}
    <div class="flex items-center">
        <h1>{{ title }}</h1>
        {{ partial:pro-badge }}
    </div>
    <div class="lg:pr-16 text-2xl">
        {{ intro ?? overview | markdown}}
    </div>
    {{ svg src="zig-zag" class="mt-16" }}
</header>

<section class="mt-0 md:pb-16"">
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-y-6 md:gap-6 mt-8">
        <a href="/deploying/laravel-forge" class="bg-white border text-center shadow-stack-sm hover:shadow-stack-yellow-sm rounded-sm px-3 py-6 hover:bg-gradient-to-tl from-gray-lightest dark:bg-gray-darkest dark:text-white dark:shadow-none">
            <div class="h-16 flex items-center mb-2">
                <img class="mx-auto mb-4 w-32" src="/img/forge-logo.svg" alt="Laravel Forge Logo">
            </div>
            <h2 class="text-2xl mb-2 font-bold font-display">Laravel Forge</h2>
            <p class="text-sm font-mono-alt">Server Management Platform</p>
        </a>
        <a href="/deploying/laravel-cloud" class="bg-white border text-center shadow-stack-sm hover:shadow-stack-yellow-sm rounded-sm px-3 py-6 hover:bg-gradient-to-tl from-gray-lightest dark:bg-gray-darkest dark:text-white dark:shadow-none">
            <img class="mx-auto mb-2 h-16" src="/img/laravel-cloud-logo.svg" alt="Laravel Cloud Logo">
            <h2 class="text-2xl mb-2 font-bold font-display">Laravel Cloud</h2>
            <p class="text-sm font-mono-alt">Managed Infrastructure Provider</p>
        </a>
        <a href="/deploying/ploi" class="bg-white border text-center shadow-stack-sm hover:shadow-stack-yellow-sm rounded-sm px-3 py-6 hover:bg-gradient-to-tl from-gray-lightest dark:bg-gray-darkest dark:text-white dark:shadow-none">
            <img class="mx-auto mb-2 h-16" src="/img/ploi-cake.png" alt="Ploi Logo">
            <h2 class="text-2xl mb-2 font-bold font-display">Ploi</h2>
            <p class="text-sm font-mono-alt">Server Management Platform</p>
        </a>
        <a href="/deploying/fortrabbit" class="bg-white border text-center shadow-stack-sm hover:shadow-stack-yellow-sm rounded-sm px-3 py-6 hover:bg-gradient-to-tl from-gray-lightest dark:bg-gray-darkest dark:text-white dark:shadow-none">
            <div class="h-16 flex items-center mb-2">
                <img class="mx-auto px-1 w-32" src="/img/fortrabbit.svg" alt="fortrabbit Logo">
            </div>
            <h2 class="text-2xl mb-2 font-bold font-display">Fortrabbit</h2>
            <p class="text-sm font-mono-alt">PHP as a Service</p>
        </a>
        <a href="https://buddy.works/guides/introduction-to-statamic#deployment-with-buddy" target="_blank" class="bg-white border text-center shadow-stack-sm hover:shadow-stack-yellow-sm rounded-sm px-3 py-6 hover:bg-gradient-to-tl from-gray-lightest dark:bg-gray-darkest dark:text-white dark:shadow-none">
            <div class="h-16 flex items-center mb-2">
                <img class="mx-auto mb-2 h-16" src="/img/buddy-logo.svg" alt="Buddy CI/CD Logo">
            </div>
            <h2 class="text-2xl mb-2 font-bold font-display">Buddy</h2>
            <p class="text-sm font-mono-alt">CI/CD Platform</p>
        </a>
        <a href="https://kinsta.com/docs/statamic-example-application/" target="_blank" class="bg-white border text-center shadow-stack-sm hover:shadow-stack-yellow-sm rounded-sm px-3 py-6 hover:bg-gradient-to-tl from-gray-lightest dark:bg-gray-darkest dark:text-white dark:shadow-none">
            <div class="h-16 flex items-center mb-2">
                <img class="mx-auto mb-2 h-16 rounded-lg" src="/img/Kinsta_Icon_Black.svg" alt="Kinsta Logo">
            </div>
            <h2 class="text-2xl mb-2 font-bold font-display">Kinsta</h2>
            <p class="text-sm font-mono-alt">Cloud Hosting</p>
        </a>
        {{# <a href="https://ploi.io/statamic" class="bg-white border text-center shadow-stack-sm hover:shadow-stack-yellow-sm rounded-sm px-3 py-6 hover:bg-gradient-to-tl from-gray-lightest dark:bg-gray-darkest dark:text-white dark:shadow-none">
            <img class="mx-auto mb-2 h-16" src="/img/serverpilot-logo.svg" alt="Server Pilot Logo">
            <h2 class="text-2xl mb-2 font-bold font-display">Server Pilot</h2>
            <p class="text-sm font-mono-alt">Server Management Platform</p>
        </a> #}}
        {{# <a href="https://scotch.io/tutorials/deploying-laravel-to-digitalocean" target="_blank" class="bg-white border text-center shadow-stack-sm hover:shadow-stack-yellow-sm rounded-sm px-3 py-6 hover:bg-gradient-to-tl from-gray-lightest dark:bg-gray-darkest dark:text-white dark:shadow-none">
            <img class="mx-auto mb-2 h-16" src="/img/digital-ocean-logo.svg" alt="Digital Ocean Logo">
            <h2 class="text-2xl mb-2 font-bold font-display">Digital Ocean</h2>
            <p class="text-sm font-mono-alt">DIY Ubuntu Droplet</p>
        </a> #}}
    {{# <a href="#" class="bg-white border text-center shadow-stack-sm hover:shadow-stack-yellow-sm rounded-sm px-3 py-6 hover:bg-gradient-to-tl from-gray-lightest dark:bg-gray-darkest dark:text-white dark:shadow-none">
            <img class="mx-auto mb-2 h-16" src="/img/digital-ocean-logo.svg" alt="Digital Ocean Logo">
            <h2 class="text-2xl mb-2 font-bold font-display">Digital Ocean</h2>
            <p class="text-sm font-mono-alt">App Platform</p>
        </a> #}}
        <a href="/deploying/netlify" class="bg-white border text-center shadow-stack-sm hover:shadow-stack-yellow-sm rounded-sm px-3 py-6 hover:bg-gradient-to-tl from-gray-lightest dark:bg-gray-darkest dark:text-white dark:shadow-none">
            <img class="mx-auto mb-2 h-16" src="/img/netlify-logo.svg" alt="Netlify Logo">
            <h2 class="text-2xl mb-2 font-bold font-display">Netlify</h2>
            <p class="text-sm font-mono-alt">Netlify Platform</p>
        </a>
        <a href="/deploying/vercel" class="bg-white border text-center shadow-stack-sm hover:shadow-stack-yellow-sm rounded-sm px-3 py-6 hover:bg-gradient-to-tl from-gray-lightest dark:bg-gray-darkest dark:text-white dark:shadow-none">
            <img class="mx-auto mb-2 h-16" src="/img/vercel-logo.svg" alt="Vercel Logo">
            <h2 class="text-2xl mb-2 font-bold font-display">Vercel</h2>
            <p class="text-sm font-mono-alt">Vercel Platform</p>
        </a>
    </div>
</section>

{{ partial:suggest }}
