{{ partial:header }}

<div class="c-icon-grid">
    <div class="c-icon-grid__item">
        <a href="/deploying/laravel-forge">
            <div class="c-icon-grid__icon">
                <img src="/img/icons/forge.svg" alt="Laravel Forge Logo" />
            </div>
        </a>
        <h2>Laravel Forge</h2>
        <p>Server Management Platform</p>
    </div>
    <div class="c-icon-grid__item">
        <a href="/deploying/laravel-cloud">
            <div class="c-icon-grid__icon">
                <img src="/img/laravel-cloud-logo.svg" alt="Laravel Cloud Logo" />
            </div>
        </a>
        <h2>Laravel Cloud</h2>
        <p>Managed Infrastructure Provider</p>
    </div>
    <div class="c-icon-grid__item">
        <a href="/deploying/ploi">
            <div class="c-icon-grid__icon">
                <img src="img/icons/ploi.png" alt="Ploi logo" width="483" height="183" />
            </div>
        </a>
        <h2>Ploi</h2>
        <p>Server Management Platform</p>
    </div>
    <div class="c-icon-grid__item">
        <a href="/deploying/fortrabbit">
            <div class="c-icon-grid__icon">
                <img src="/img/fortrabbit.svg" alt="Fortrabbit Logo" />
            </div>
        </a>
        <h2>Fortrabbit</h2>
        <p>PHP as a Service</p>
    </div>
    <div class="c-icon-grid__item">
        <a href="https://buddy.works/guides/introduction-to-statamic#deployment-with-buddy" target="_blank">
            <div class="c-icon-grid__icon">
                <img src="/img/buddy-logo.svg" alt="Buddy CI/CD Logo" />
            </div>
        </a>
        <h2>Buddy</h2>
        <p>CI/CD Platform</p>
    </div>
    <div class="c-icon-grid__item">
        <a href="https://kinsta.com/docs/statamic-example-application/" target="_blank">
            <div class="c-icon-grid__icon">
                <img src="/img/Kinsta_Icon_Black.svg" alt="Kinsta Logo" class="rounded-lg" />
            </div>
        </a>
        <h2>Kinsta</h2>
        <p>Cloud Hosting</p>
    </div>
    <div class="c-icon-grid__item">
        <a href="/deploying/netlify">
            <div class="c-icon-grid__icon">
                <img src="/img/icons/netlify.svg" alt="Netlify Logo" />
            </div>
        </a>
        <h2>Netlify</h2>
        <p>Netlify Platform</p>
    </div>
    <div class="c-icon-grid__item">
        <a href="/deploying/vercel">
            <div class="c-icon-grid__icon">
                <img src="/img/vercel-logo.svg" alt="Vercel Logo" />
            </div>
        </a>
        <h2>Vercel</h2>
        <p>Vercel Platform</p>
    </div>
</div>

{{ $suggest = 'yes' }}
{{ push:scope_classes }}u-no-scroll-spy-toc-position{{ /push:scope_classes }}