{{ if current_uri == "/documentation" }}
    {{ 404 }}
{{ /if }}

<header class="markdown pb-8 mb-8 border-b-2 border-grey-300">
    <h1>Statamic 3 Documentation</h1>
    {{ intro }}
</header>

<article class="markdown pb-8">
    {{ content | toc:ids  }}
    <table>
        <thead>
            <th>Page</th>
            <th>Section</th>
            <th>Last Updated</th>
        </thead>
        <tbody>
            {{# {{ collection from="*" sort="last_modified:desc" limit="15" title:not="Documentation" scope="entry" }}
                <tr>
                    <td><a href="{{ entry:url }}">{{ entry:title ?? entry:slug|title }}</a></td>
                    <td>{{ entry:collection | deslugify | title }}</td>
                    <td>{{ entry:last_modified }}</td>
                </tr>
            {{ /collection }} #}}
        </tbody>
    </table>
</article>
