{{ partial:header }}

<div class="c-icon-grid">
    <div class="c-icon-grid__item">
        <a href="/installing/laravel-herd">
            <div class="c-icon-grid__icon">
                <img src="/img/icons/laravel-herd.png" alt="Laravel Herd icon" width="256" height="256" />
            </div>
        </a>
        <h2>Laravel Herd</h2>
        <p>macOS, Windows</p>
        <div class="c-icon-grid__item__label">
            <div>Recommended</div>
        </div>
    </div>
    <div class="c-icon-grid__item">
        <a href="/installing/local">
            <div class="c-icon-grid__icon">
                <img src="/img/icons/terminal.svg" alt="an icon that represents the command line" />
            </div>
        </a>
        <h2>Statamic CLI</h2>
        <p>macOS, Windows, or Linux</p>
    </div>
    <div class="c-icon-grid__item">
        <a href="/installing/laravel">
            <div class="c-icon-grid__icon">
                <img src="/img/icons/laravel.svg" alt="The Laravel logo" />
            </div>
        </a>
        <h2>Laravel Application</h2>
        <p>Drop into an existing app</p>
    </div>
    <div class="c-icon-grid__item">
        <a href="/installing/docker">
            <div class="c-icon-grid__icon">
                <img src="/img/icons/docker.svg" alt="Docker logo" />
            </div>
        </a>
        <h2>Docker</h2>
        <p>Using Laravel Sail</p>
    </div>
    <div class="c-icon-grid__item">
        <a href="/installing/ubuntu">
            <div class="c-icon-grid__icon">
                <img src="/img/icons/ubuntu.svg" alt="Ubuntu logo" />
            </div>
        </a>
        <h2>Ubuntu</h2>
        <p>18.04, 20.04 LTS</p>
    </div>
</div>

<section>

    <h2>Cloud hosting</h2>

    <div class="c-icon-grid" style="padding-block-end: 0;">
        <div class="c-icon-grid__item">
            <a href="/installing/laravel-forge-1-click">
                <div class="c-icon-grid__icon">
                    <img src="/img/icons/forge.svg" alt="Laravel Forge logo" />
                </div>
            </a>
            <h3>Forge</h3>
            <p>One-Click Install</p>
        </div>
        <div class="c-icon-grid__item">
            <a href="https://ploi.io/statamic">
                <div class="c-icon-grid__icon">
                    <img src="/img/icons/ploi.png" class="u-hide-in-dark-mode" alt="Ploi logo" width="483" height="183" />
                    <img src="/img/icons/ploi-dark-mode.png" class="u-hide-in-light-mode" alt="Ploi logo" width="483" height="183" />
                </div>
            </a>
            <h3>Ploi</h3>
            <p>One-Click Install</p>
        </div>
        <div class="c-icon-grid__item">
            <a href="/installing/digital-ocean">
                <div class="c-icon-grid__icon">
                    <img src="/img/icons/digital-ocean.svg" alt="Digital Ocean logo" />
                </div>
            </a>
            <h3>Digital Ocean</h3>
            <p>Virtual Private Server</p>
        </div>
        <div class="c-icon-grid__item">
            <a href="/installing/linode">
                <div class="c-icon-grid__icon">
                    <img src="/img/icons/linode.svg" alt="Linode logo" />
                </div>
            </a>
            <h3>Linode</h3>
            <p>Virtual Private Server</p>
        </div>
    </div>

</section>

{{ $suggest = 'yes' }}
{{ push:scope_classes }}u-no-scroll-spy-toc-position{{ /push:scope_classes }}
