<html lang="en">
    {{ partial:head }}
    {{ partial:site_header }}
    <body class="font-sans font-light leading-normal">
        {{# =jfg This is not currently in use but could be useful in future #}}
        {{# {{ partial:partials/promo }} #}}

        {{# Need tabindex="-1" to lock the tab focus here when using Skip to Content #}}
        <main tabindex="-1" id="main" class="s-main o-scroll-spy-timeline">
            {{ partial:nav_sidebar }}
            <nav class="c-breadcrumbs">
                <ol>
                    {{# {{ nav :handle="section" }}
                    {{ /nav }} #}}
                    <li><a href="/">Docs</a></li>
                    <li>{{ svg src='breadcrumb-chevron' }}<button popovertarget="popover-nav-sidebar">{{ breadcrumb_title ?? nav_title ?? title }}</button></li>

                    {{# {{ nav:breadcrumbs }}
                    <li{{ if is_current }} class="current"{{ /if }}>
                        <a href="{{ url }}">{{ title }}</a>
                    </li>
                    {{ /nav:breadcrumbs }} #}}
                </ol>
            </nav>

            <div class="c-entry-content-wrapper" name="top">
                {{# {{ partial:side-nav }} #}}
                <article id="content" class="c-entry-content">
                    {{ template_content }}
                </article>
                {{ partial:toc :hide="hide_toc ?? false" }}
            </div>

        </main>

        {{# {{ partial:footer }} #}}
        {{ partial:scripts }}
    </body>
</html>
