<html lang="en" class="bg-white">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ meta_title ?? title }} // Statamic 3 Docs</title>
    <meta name="description" content="{{ intro | striptags }}">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ intro | striptags }}" />
    <meta property="og:url" content="{{ permalink }}" />
    <meta property="og:site_name" content="statamic.dev" />
    <meta property="og:locale" content="en_US" />
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" href="https://use.typekit.net/ysf3wph.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
    <link rel="stylesheet" href="{{ mix src='/css/tailwind.css' }}">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</head>
<body class="text-blue-darkest leading-normal language-antlers" x-data="{ showNav: false, showEasterEgg: false }" @keydown.slash.prevent="$refs.docsSearch.focus()">

{{ partial:partials/nav }}

<div class="w-full max-w-screen-xl mx-auto pt-12 lg:flex relative" id="top">
    <div id="side-nav" class="lg:block w-full lg:w-auto flex-1 px-6 pt-1 pb-12 overflow-auto min-h-screen" x-show="showNav">
        {{ partial:side-nav }}
    </div>
    <div id="content" class="w-full lg:w-2/4 xl:w-3/5 px-4 lg:px-6 xl:px-12" x-bind:class="{ 'overflow-state': showNav }">
        {{ template_content }}
        {{ partial:edit }}
    </div>
    {{ unless response_code == 404 }}
    <div class="hidden lg:block lg:w-1/4 xl:w-1/5 px-8 pt-1 relative">
        <nav class="side-nav sticky top-16">
            {{ if segment_1 !== "knowledge-base" }}
            <h5>On This Page</h5>
            {{ content | noparse | toc }}
            {{ /if }}
        </nav>
    </div>
    {{ /unless }}
</div>

{{ if get:ref == "docs.statamic.com" }}
    <div class="fixed z-50 bottom-0 inset-x-0 pb-2 sm:pb-5 translate-y-0" x-data="{ show: getCookie('banner') != 'false' }" x-show="show" x-cloak>
        <div class="py-3 px-5 bg-blue-darkest text-white font-display shadow-lg-mint mx-4">
            <div class="flex items-center justify-between flex-wrap">
                <div class="w-full md:flex-1 flex items-center">
                    {{ svg src="statamic-mark" class="mr-4 hidden md:block" }} Hello there! Are you looking for the Statamic v2 documentation?
                </div>
                <div class="w-full md:w-auto flex items-center justify-between md:justify-end mt-6 md:mt-0">
                    <button @click="show = false; setCookie('banner', 'false');" class="hover:underline mr-4">Nope</button>
                    <a class="bg-white text-blue-darkest hover:bg-blue-lightest px-3 rounded-sm text-sm py-1" href="https://v2.statamic.com">Yes! Send me there! &rarr;</a>
                </div>
            </div>
        </div>
    </div>
{{ /if }}

<div id="site-footer" class="bg-blue-darkest text-blue-lightest font-display italic antialiased text-sm mt-8 p-8 flex items-center justify-between">
    <p>Copyright {{ now format="Y" }} Statamic • <b>Powered by {{ powered_by sort="random" limit="1" }}{{ value }}{{ /powered_by }}</b></p>
    {{ partial:social }}
</div>
<script src="{{ mix src='/js/app.js' }}"></script>
<!-- Fathom - simple website analytics - https://usefathom.com -->
<script>
(function(f, a, t, h, o, m){
a[h]=a[h]||function(){
(a[h].q=a[h].q||[]).push(arguments)
};
o=f.createElement('script'),
m=f.getElementsByTagName('script')[0];
o.async=1; o.src=t; o.id='fathom-script';
m.parentNode.insertBefore(o,m)
})(document, window, 'https://cdn.usefathom.com/tracker.js', 'fathom');
fathom('set', 'siteId', 'LGYIPVOA');
fathom('trackPageview');
</script>
<!-- / Fathom -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript">docsearch({
algoliaOptions: {
    hitsPerPage: 8,
},
apiKey: 'b5e8f73c7462a6d5c8b525ef183aabec',
indexName: 'statamic_3',
inputSelector: '#docs-search',
debug: false
});
</script>
</body>
</html>
