<html lang="en" class="bg-white" :class="{ dark: darkMode }"
    x-data="htmlData()"
    x-init="window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', e => setSystemTheme(e.matches ? 'dark' : 'light'))">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ meta_title ?? title }} // Statamic 3 Docs</title>
    <meta name="description" content="{{ intro | striptags }}">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ intro | striptags }}" />
    <meta property="og:url" content="{{ permalink }}" />
    <meta property="og:site_name" content="Statamic Docs" />
    <meta property="og:locale" content="en_US" />
    {{# <meta property="og:image" content="{{ snapit:og }}" /> #}}
    <meta property="og:image" content="https://statamic.dev/img/social-placeholder.png" />
    <meta property="twitter:title" content="{{ title }}" />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="@statamic" />
    {{# <meta property="twitter:image" content="{{ snapit:twitter }}" /> #}}
    <meta property="twitter:image" content="https://statamic.dev/img/social-placeholder.png" />
    <meta property="twitter:description" content="{{ intro | striptags }}" />
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16" />
    <link rel="preconnect" href="https://BH4D9OD16A-dsn.algolia.net" crossorigin />
    <link rel="stylesheet" href="https://use.typekit.net/huy6nsb.css" defer>
    <link rel="stylesheet" href="{{ mix src='/css/tailwind.css' }}">
    <script src="{{ mix src='/js/app.js' }}" defer></script>
    <script>
    </script>
</head>
<body class="font-sans leading-normal dark:bg-black dark:bg-none" x-data="bodyData()" x-spread="bindings">
{{ partial:partials/promo }}
{{ partial:partials/nav }}
<div class="max-w-7xl mx-auto flex px-4 md:px-10 py-6 lg:py-12" name="top">
    {{ partial:side-nav }}
    <div id="content" class="w-full {{ content_width ?? 'max-w-2xl' }}" x-show="! showNav">
        {{ template_content }}
        {{ partial:back-to-top }}
    </div>
</div>
{{ partial:old-docs-banner }}
{{ partial:footer }}
{{ partial:scripts }}
<div class="fixed"><input type="text"></div>
</body>
</html>
