{{ partial:header }}

{{# <div listen-for-intersection-of-titles> #}}
    {{ if screenshot }}
        {{# If there's a screenshot at the top of the screen we're probably on a fieldtype page like /fieldtypes/assets and want to restrict the img width slightly by default #}}
        {{ push:scope_classes }}s-restrict-width-of-main-imgs{{ /push:scope_classes }}
        <figure>
            {{ screenshot }}
                <img src="{{ url }}" alt="Screenshot of {{ page:title }}"{{ if screenshot_dark }} class="u-hide-in-dark-mode"{{ /if }}>
            {{ /screenshot }}
            {{ if screenshot_dark }}
                {{ screenshot_dark }}
                    <img src="{{ url }}" alt="Screenshot of {{ page:title }}" class="u-hide-in-light-mode">
                {{ /screenshot_dark }}
            {{ /if }}
            {{# e.g. /fieldtypes/assets #}}
            <figcaption>The {{ title }} in action!</figcaption>
        </figure>
    {{ /if }}

    {{ content }}

    {{ if options }}
        <h2 id="options">Options</h2>
        {{ options_content | markdown ?? '' }}
        {{ partial:details :details="options" }}
    {{ /if }}

    {{ if parameters }}
        <h2 id="parameters">Parameters</h2>
        {{ partial:details :details="parameters" }}
    {{ /if }}

    {{ if variables }}
        <h2 id="variables">Variables</h2>
        {{ variables_content | markdown ?? '' }}
        {{ partial:variables }}
    {{ /if }}
{{# </div> #}}

{{ partial:related }}
