<article class="markdown pb-8">
    <h1>Search Results</h1>

    {{ search:results as="results" }}

        {{ if no_results }}

            {{ if get:q|length < 3 }}
                <p>Please search for at least 3 characters.</p>
            {{ else }}
                <p>No results for <b>{{ get:q }}</b></p>
            {{ /if }}

        {{ else }}

            <p>Showing results for <b>{{ get:q }}</b></p>
            <ul>
                {{ results }}
                    <li>
                        <div class="flex items-center">
                            <a href="{{ url }}">{{ title }}</a>
                            {{ unless collection == "docs" }}
                            <span class="text-2xs text-grey-700 antialiased border-sm bg-grey-400 px-2 p-sm rounded ml-2">
                                {{ if collection === "tags" }}Tag
                                {{ elseif collection === "fieldtypes" }}Fieldtype
                                {{ elseif collection === "modifiers" }}Modifier
                                {{ elseif collection === "variables" }}Variable
                                {{ /if }}
                            </span>
                            {{ /unless }}
                        </div>
                        {{ if intro }}
                            <div class="text-grey-600 text-sm">{{ intro }}</div>
                        {{ /if }}
                    </li>
                {{ /results }}
            </ul>

        {{ /if }}

    {{ /search:results }}

</div>
