{{ partial:header}}

{{ content | toc:ids }}

{{ if parameters }}
<h2 id="parameters">Parameters</h2>
{{ /if }}

{{ partial:details details="options" }}

<h3 id="size-crop-and-output">Size, Crop, and Output</h3>
{{ partial:details :details="shape" }}

<h3 id="filters-and-effects">Filters and Effects</h3>
{{ partial:details :details="filters" }}

<h3 id="other">Other</h3>
{{ partial:details :details="other" }}

{{ if variables }}
    <h2 id="variables">Variables</h2>
    <p>These variables are only available within the <a href="#tag-pair">tag pair</a>.</p>
    {{ partial:variables }}
{{ /if }}
