{{ parameters }}
<div class="{{ ! last ?= 'border-b' }} border-grey-400 mt-4 pb-4">
    <h3 class="inline-block mb-3 badge text-sm lowercase {{ required ?= 'bg-pink-hot shadow-md-teal text-white' }}">
        <span class="font-display font-bold">{{ name }}</span>
        <span class="text-xs opacity-75">{{ type }}</span>
    </h3>
    {{ if required }}
    <span class="ml-1 relative align-top inline-block font-bold text-pink-hot font-display">*</span>
    {{ /if }}
    <div class="markdown">
        {{ description | widont  }}
    </div>
</div>
{{ /parameters }}
