<header class="markdown pb-8 mb-8">
    {{ partial:breadcrumbs }}
    <div class="flex items-center">
        <h1>{{ title ensure_right=" Tag" }}</h1>
        {{ partial:pro-badge }}
    </div>
    {{ intro ?? overview | markdown }}
    {{ partial:toc }}
</header>

<article class="markdown pb-8">
    {{ content | toc:ids }}

    {{ if parameters }}
        <h2 id="parameters">Parameters</h2>
        {{ partial:details :details="parameters" }}
    {{ /if }}

    {{ if variables }}
        <h2 id="variables">Variables</h2>
        {{ partial:variables }}
    {{ /if }}

</article>

{{ partial:related }}

{{ partial:edit }}
