<div class="max-w-2xl mx-auto markdown border-t-4 pt-8">
    <p class="font-bold">These are some buttons.</p>
    <div class="flex flex-wrap -mx-3">
        <button class="mx-3 mb-3 button bg-teal">Download Now</button>
        <button class="mx-3 mb-3 button bg-orange button">Download Now</button>
        <button class="mx-3 mb-3 button bg-pink-bright">Download Now</button>
        <button class="mx-3 mb-3 button bg-purple text-white">Download Now</button>
        <button class="mx-3 mb-3 button bg-blue-lightest">Download Now</button>
        <button class="mx-3 mb-3 button bg-blue-darkest border-teal text-white shadow-md-teal hover:shadow-teal">Download Now</button>
        <button class="mx-3 mb-3 button">Download Now</button>
        <button class="mx-3 mb-3 button bg-teal-dark border-orange text-orange shadow-md-orange hover:shadow-orange">Download Now</button>
    </div>
</div>