{{ if {github_edit_url} }}
<div class="relative mt-16 overflow-hidden lg:overflow-visible">
    <img src="/img/splatter-feedback.png" alt="" class="absolute max-w-none w-[820px] left-[-90px] top-[-92px]">
    <div class="bg-gray-lightest p-5 border shadow-stack relative z-10">
        <div class="text-2xl font-display font-bold mb-3">Docs feedback</div>
        <p class="text-base mb-3">Submit improvements, related content, or suggestions through Github.</p>
        <a href="{{ environment === 'local' ? edit_url : github_edit_url }}" class="button">Betterify this page &rarr;</a>
    </div>
</div>
{{ /if }}
