<div id="site-footer" class="bg-black text-white relative mt-8 z-20 dark:bg-gray-darkest" x-show="! showNav">
    <div class="max-w-7xl mx-auto px-6 md:px-10 py-12 relative">
        <div class="md:w-1/2">
            <h2 class="text-3xl font-bold font-display mb-4 antialiased">Community</h2>
            <p class="mb-8">The Statamic developer community is strong. We have more than 25k users and 4,000 of them are probably chatting right now in our live Discord chat.</p>
            {{ partial:social }}
        </div>
        <div class="flex flex-wrap justify-between mt-12 py-12 hover-within:underline-grow">
            <div class="w-1/2 md:w-1/3 lg:w-auto pb-12 pr-4">
                <h3 class="text-base font-bold mb-3">
                    Learn
                </h3>
                <ul class="space-y-2 text-sm">
                    <li><a href="/recent-updates">What's New</a></li>
                    {{ nav:collection:sections include_home="true" }}
                    <li><a href="{{ url }}">{{ title }}</a></li>
                    {{ /nav:collection:sections }}
                </ul>
            </div>
            <div class="w-1/2 md:w-1/3 lg:w-auto pb-12 pr-4">
                <h3 class="text-base font-bold mb-3">
                    Product
                </h3>
                <ul class="space-y-2 text-sm">
                    <li><a href="https://statamic.com/blog">Blog</a></li>
                    <li><a href="https://statamic.com/pricing">Pricing</a></li>
                    <li><a href="https://statamic.com/license">License</a></li>
                    <li><a href="https://statamic.com/release-notes">Release Notes</a></li>
                    <li><a href="https://statamic.com/roadmap">Roadmap</a></li>
                </ul>
            </div>
            <div class="w-1/2 md:w-1/3 lg:w-auto pb-12 pr-4">
                <h3 class="text-base font-bold mb-3">
                    Marketplace
                </h3>
                <ul class="space-y-2 text-sm">
                    <li><a href="https://statamic.com/addons">Addons</a></li>
                    <li><a href="https://statamic.com/starter-kits">Starter Kits</a></li>
                    <li><a href="https://statamic.com/sell">Become a Seller</a></li>
                </ul>
            </div>
            <div class="w-1/2 md:w-1/3 lg:w-auto pb-12 pr-4">
                <h3 class="text-base font-bold mb-3">
                    Support
                </h3>
                <ul class="space-y-2 text-sm">
                    <li><a href="https://statamic.com/support">Support Center</a></li>
                    <li><a href="https://statamic.com/partners">Partners</a></li>
                    <li><a href="https://statamic.com/partners/join">Become a Partner</a></li>
                </ul>
            </div>
            <div class="w-1/2 md:w-2/3 lg:w-auto pb-12">
                <h3 class="text-base font-bold mb-3">
                    Search
                </h3>
                <form class="relative flex items-center text-sm w-[300px] md:w-[360px] h-9 m-0 rounded border-2 border-white shadow-white relative top-[-2px]" action="/search-results">
                    <input
                        class="focus:outline-none bg-black dark:bg-gray-darkest placeholder-white antialised px-3 flex-1 appearance-none"
                        type="text" placeholder="Are these the droids?" @click="document.getElementsByClassName('docsearch-btn')[0].click()">
                    <button class="bg-white hover:bg-mint text-black px-4 h-full">Search</button>
                </form>
            </div>
        </div>
        <div class="flex flex-col md:flex-row justify-center md:justify-between items-center md:items-end text-white">
            <div class="text-xs antialiased hover-within:underline-grow">
                <a href="https://v1.statamic.com">Version 1 Docs</a>
                &nbsp;&nbsp;//&nbsp;&nbsp;
                <a href="https://v2.statamic.com">Version 2 Docs</a>
            </div>
            <a href="https://statamic.com" class="text-white mt-10 md:mt-0 flex flex-col items-center md:items-end hover:text-yellow">
                {{ svg src="statamic-logo" class="w-32" }}
                <span class="text-xs antialiased pt-2">Looking for statamic.com?</span>
            </a>
        </div>
        <img src="/img/splatter-palm.png" alt="" class="absolute top-[-70px] left-0" width="214">
    </div>
</div>

{{ partial:old-docs-banner }}

<div class="fixed"><input type="text"></div>
