<footer id="footer" class="c-site-footer">
    <div class="c-site-footer__scene">
        <div class="c-site-footer__scene__image-container">
            <img src="/img/footer/waterfall.avif" alt="" />
        </div>
        <div class="c-site-footer__scene__stars u-hide-in-light-mode">
            <img src="/img/theme-dark.svg" alt="Stars" />
            <img src="/img/theme-dark.svg" alt="Stars" />
            <img src="/img/theme-dark.svg" alt="Stars" />
            <img src="/img/theme-dark.svg" alt="Stars" />
            <img src="/img/theme-dark.svg" alt="Stars" />
        </div>
    </div>
    <div class="c-site-footer__nav">
        <div class="c-site-footer__nav__item">
            <div class="c-site-footer-heading">
                {{ svg src='footer-arrow' }}
                Learn
            </div>
            <ul>
                <li><a href="/recent-updates">What's New</a></li>
                {{ nav:collection:sections include_home="true" }}
                <li><a href="{{ url }}">{{ title }}</a></li>
                {{ /nav:collection:sections }}
            </ul>
        </div>
        <div class="c-site-footer__nav__item">
            <div class="c-site-footer-heading">
                {{ svg src='footer-arrow' }}
                Product
            </div>
            <ul>
                <li><a href="https://statamic.com">Statamic.com</a></li>
                <li><a href="https://statamic.com/blog">Blog</a></li>
                <li><a href="https://statamic.com/pricing">Pricing</a></li>
                <li><a href="https://statamic.com/license">License</a></li>
                <li><a href="https://statamic.com/release-notes">Release Notes</a></li>
                <li><a href="https://statamic.com/roadmap">Roadmap</a></li>
                <li><a href="https://v1.statamic.com">V1 Docs</a> / <a href="https://v2.statamic.com">V2 Docs</a></li>
            </ul>
        </div>
        <div class="c-site-footer__nav__item">
            <div class="c-site-footer-heading">
                {{ svg src='footer-arrow' }}
                Community
            </div>
            <ul>
                <li><a href="https://statamic.com/discord"><img src="/img/icons/social/discord.svg" alt="Discord" /> Discord</a><span>(5.8k+ members)</span></li>
                <li><a href="https://github.com/statamic/cms"><img src="/img/icons/social/github.svg" alt="GitHub" /> GitHub</a><span>(4.3k stars)</span></li>
                <li><a href="https://github.com/statamic/cms/discussions"><img src="/img/icons/social/statamic.svg" alt="Discussions" /> Discussions</a></li>
                <li><a href="https://twitter.com/statamic"><img src="/img/icons/social/x.svg" alt="X / Twitter" />Social</a></li>
                <li><a rel="me" href="https://bluesky.social/@statamic"><img src="/img/icons/social/bluesky.svg" alt="Bluesky" /> Bluesky</a></li>
                <li><a rel="me" href="https://mastodon.social/@statamic"><img src="/img/icons/social/mastodon.svg" alt="Mastodon" /> Mastodon</a></li>
            </ul>
        </div>
        <div class="c-site-footer__nav__item">
            <div class="c-site-footer-heading">
                {{ svg src='footer-arrow' }}
                Marketplace
            </div>
            <ul>
                <li><a href="https://statamic.com/addons">Addons</a></li>
                <li><a href="https://statamic.com/starter-kits">Starter Kits</a></li>
                <li><a href="https://statamic.com/sell">Become a Seller</a></li>
            </ul>
        </div>
        <div class="c-site-footer__nav__item">
            <div class="c-site-footer-heading">
                {{ svg src='footer-arrow' }}
                Support
            </div>
            <ul>
                <li><a href="https://statamic.com/support">Support Center</a></li>
                <li><a href="https://statamic.com/partners">Partners</a></li>
                <li><a href="https://statamic.com/partners/join">Become a Partner</a></li>
            </ul>
        </div>
    </div>
    <div class="c-site-footer__nav">
        <div class="c-site-footer__nav__item c-site-footer__nav__item--full-width">
            <p>&copy; Copyright 2012–{{ now | format:Y }} Statamic, LLC<br>All rights reserved. 🇺🇸</p>
        </div>
    </div>
</footer>
