<meta name="description" content="{{ intro | striptags }}">
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{{ intro | striptags }}" />
<meta property="og:url" content="{{ permalink }}" />
<meta property="og:site_name" content="Statamic Docs" />
<meta property="og:locale" content="en_US" />
<meta property="og:image" content="https://statamic.dev/img/social-placeholder.png" />
<meta property="twitter:title" content="{{ title }}" />
<meta property="twitter:card" content="summary" />
<meta property="twitter:site" content="@statamic" />
<meta property="twitter:image" content="https://statamic.dev/img/social-placeholder.png" />
<meta property="twitter:description" content="{{ intro | striptags }}" />
{{ partial:favicons}}
