<nav
    id="site-nav"
    class="site-nav hidden bg-white md:flex sticky top-0 z-40 max-w-7xl mx-auto items-center justify-between px-4 lg:px-10 font-display h-20
        dark:bg-black"
>
    <div class="w-full flex items-center justify-between md:block md:w-74">
        <a href="/" class="relative top-[-3px] text-pink hover:text-purple">
            {{ svg src="docs-logo" class="block w-48" title="Statamic" }}
        </a>
    </div>
    <div class="flex-1 flex items-center justify-between space-x-4 md:h-full">
        <ul class="flex items-center space-x-2 md:space-x-6 lg:space-x-10 md:text-lg">
            {{ nav:collection:sections include_home="true" }}
            <li><a class="hover:text-pink dark:text-white {{ page:section === section ?= 'active' }}" href="{{ url }}">{{ title }}</a></li>
            {{ /nav:collection:sections }}
        </ul>
        <div class="flex items-center h-full">
            <form class="relative hidden md:flex items-center text-sm w-[160px] lg:w-[240px] h-9 m-0 rounded border-2 border-black shadow-sm md:shadow relative top-[-2px] dark:bg-gray-darkest" :class="{ 'md:hidden': themePickerOpen }" action="/search-results">
                <div id="docsearch" ref="docSearch"></div>
            </form>
            {{ partial:theme }}
        </div>
    </div>
</nav>

<nav id="site-nav-mobile" class="site-nav md:hidden w-full border-b items-center justify-between pl-4 font-display py-1">
    <div class="w-full flex items-center justify-between">
        <a href="/" class="text-pink hover:text-purple">
            {{ svg src="statamic-mark" class="block h-8 w-8" title="Statamic"}}
        </a>
        <div class="flex lg:hidden relative items-center w-full ml-3 h-8 rounded border border-black shadow-sm">
                <input
                    class="focus:outline-none placeholder-black antialised px-3 flex-1 appearance-none"
                    type="text" placeholder="Search..." @click="document.getElementsByClassName('DocSearch-Button')[0].click()" />
                <button class="bg-black hover:bg-purple text-white px-2 text-sm h-full">
                    {{ svg src="search" class="text-white p-px" }}
                </button>
        </div>
        <button type="button"
                id="sidebar-open"
                x-bind:class="{ 'hidden': showNav }"
                @click="showNav = true"
                class="flex p-4 items-center lg:hidden text-gray-500 focus:outline-none focus:text-gray-700">
                {{ svg src="menu" class="w-7 h-7" }}
        </button>
        <button type="button"
            id="sidebar-close"
            x-bind:class="{ 'hidden': ! showNav }"
            @click="showNav = false"
            class="lg:flex p-4 items-center lg:hidden text-gray-500 focus:outline-none focus:text-gray-700">
            {{ svg src="close" class="w-7 h-7" }}
        </button>
    </div>
</nav>
