{{ partial:partials/promo }}

<nav
    id="site-nav"
    class="hidden md:flex sticky top-0 z-40 font-display h-16 bg-white dark:bg-black border-b"
>
    <div class="wrapper flex items-center justify-between w-full">
        <div class="w-full flex items-center justify-between">
            <a href="/">
                {{ svg src="docs-logo" class="block w-48" title="Statamic" }}
            </a>
        </div>
        <div class="flex-1 flex items-center justify-between space-x-8 md:h-full">
            <ul class="flex items-center space-x-3 md:space-x-6">
                {{ nav:collection:sections include_home="true" }}
                    <li>
                        <a class="dark:text-white {{ page:section === section ?= 'active' }}" href="{{ url }}">
                            {{ title }}
                        </a>
                    </li>
                {{ /nav:collection:sections }}
            </ul>
            {{# <div class="flex items-center h-full">
                <form class="relative hidden md:flex items-center text-sm w-[160px] lg:w-[240px] h-9 m-0 rounded border border-black shadow-sm md:shadow relative top-[-2px] dark:bg-gray-darkest" :class="{ 'md:hidden': themePickerOpen }" action="/search-results">
                    <div id="docsearch" ref="docSearch"></div>
                </form>
                {{ partial:theme }}
            </div> #}}
        </div>
    </div>
</nav>
