<ul 
    wire:scroll 
    class="o-shadow-container-vertical"
    x-data="{ 
        navScrollPosition: $persist(0)
    }"
    x-init="$el.scrollTop = navScrollPosition"
    @scroll="navScrollPosition = $el.scrollTop"
>
    {{ nav :handle="section" }}
        <li>
            <span class="c-nav-sidebar-with-popover-api-category-heading{{ if is_current }} o-current-menu-item{{ /if }}">
                {{# It's possible to add a URL to the section heading here in /cp/navigation/docs, e.g. we want to do this for "Getting Started". If a section heading URL is not present then we fall back to the first child URL. #}}
                <a href="{{ if url }}{{ url }}{{ else }}{{ children | first }}{{ url }}{{ /children }}{{ /if }}">
                    {{ title }}
                    {{ navigation_image }}
                        <picture>
                            {{# WebP #}}
                            <source
                                srcset="{{ glide:url width='40' dpr='2' format='webp' }} 2x,
                                        {{ glide:url width='40' dpr='3' format='webp' }} 3x"
                                type="image/webp"
                            >
                            {{# JPEG #}}
                            <source
                                srcset="{{ glide:url width='40' dpr='2' }} 2x,
                                        {{ glide:url width='40' dpr='3' }} 3x"
                                type="image/jpeg"
                            >
                            {{# Fallback, with dimensions set to minimise layout shift. See Jay George's Wiki under Performance > Images for more information. #}}
                            <img 
                                src="{{ glide:url width='40' dpr='2' }}"
                                decoding="async"
                                fetchpriority="high"
                                width="{{ width }}" 
                                height="{{ height }}"
                                alt="{{ if alt }}{{ alt | ucfirst | ensure_right('.') | smartypants }}{{ else }}{{ filename | ucfirst | ensure_right('.') | replace('-| ') | smartypants }}{{ /if }}"
                                {{ image_width_override ?='style="width: {image_width_override};"' }}
                            />
                        </picture>
                    {{ /navigation_image }}
                </a>
            </span>
            <ul>
                {{ if children }}
                    {{ children scope="child" }}
                        <li>
                            <a wire:navigate
                                href="{{ url }}"
                                {{ if is_current }}class="o-current-menu-item"{{ /if }}
                            >
                                {{ nav_title ?? title }}
                            </a>
                        </li>
                    {{ /children }}
                {{ /if }}

                {{ if section == "reference" }}
                    <li class="{{ permalink === current_url ?= 'active' }}" {{ if permalink === current_url }}x-effect="open = '{{ collection:title }}'"{{ /if }}>
                        <a wire:navigate
                            href="{{ url }}"
                            {{ if is_current }}class="o-current-menu-item"{{ /if }}
                        >
                            All {{ title }}
                        </a>
                    </li>

                    {{ collection :from="slug" }}
                        <li class="{{ permalink === current_url ?= 'active' }}" {{ if permalink === current_url }}x-effect="open = '{{ collection:title }}'"{{ /if }}>
                            <a wire:navigate
                                href="{{ url }}"
                                class="border-l hover:border-black pl-4 border-transparent"
                                wire:current.class="active !border-black !text-black"
                            >
                                {{ nav_title ?? title }}
                            </a>
                        </li>
                    {{ /collection }}
                {{ /if }}
            </ul>
        </li>
        {{# =JFG. Old/2024 site section #}}
        {{# {{ if segment_1 }}
        {{ partial:sidebar-promo}}
        {{ /if }} #}}
    {{ /nav }}
</ul>
