{{# Notes...

    Little hack to stop the scrollbar flickering here...
        - First we hide the overflow so the view transition captures a "screenshot" of the ul without the scroll bar
        - Then we remove the overflow pretty much as soon as the page has loaded
        - The overflow is both hidden and removed with JS so it's a cool progressive enhancement
        - Be careful with the delay between switching the overflow back to auto. If the delay is set to more than 50ms, the scroll bars will flicker in when loading when "System Settings > Scroll bar behaviour > Show scroll bars" is set to "Automatically based on mouse or trackpad" on macOS.

    We also add a few conditions to check that we're the scroll position is only saved if we're in the same section of the site, e.g. if we're going from Docs to Reference we now have a different sidebar nav so we don't want to apply a previous position.
#}}
<ul
    class="o-shadow-container-vertical o-toggle-subnav-container"
>
    {{ if segment_2 && $collection && ($collection != "pages") }}
        <li>
            <a href="{{ parent:url }}" class="c-back-nav">&larr; Go back</a>
            <div class="o-toggle-subnav c-nav-sidebar-with-popover-api-category-heading o-current-menu-item">
                {{ parent:title  }}
            </div>
            <ul>
                {{ collection :from="collection" }}
                <li>
                        <a
                            href="{{ url }}"
                            {{ if last_segment === slug }}class="o-current-menu-item"{{ /if }}
                        >
                            {{ nav_title ?? title }}
                        </a>
                    </li>
                {{ /collection}}
            </ul>
        </li>

    {{ else }}

    {{ nav:collection:pages }}
        <li>
            <label class="o-toggle-subnav c-nav-sidebar-with-popover-api-category-heading{{ if is_current || is_parent }} o-current-menu-item{{ /if }}">
                <div class="c-nav-sidebar-with-popover-api__disclosure">{{ svg src='chevron' }}</div>
                {{ title }}
                <input id="nav-{{ title | slugify }}" type="checkbox" {{ unless is_current || is_parent || (current_uri == '/' && first) }}checked{{ /unless }}>
            </label>
            <ul>
                {{# Make sure we output the homepage for the 'Getting Started' disclosure #}}
                {{ if first }}
                    <li>
                        <a
                            href="{{ homepage }}"
                            {{ if current_uri == '/' }}class="o-current-menu-item"{{ /if }}
                        >
                            Learn Statamic
                        </a>
                    </li>
                {{ /if }}
                {{ if children }}
                    {{ children scope="child" }}
                        <li>
                            <a
                                href="{{ url }}"
                                {{ if is_current || is_parent }}class="o-current-menu-item"{{ /if }}
                                {{ if url | is_external_url }} target="_blank" {{ /if }}
                            >
                                {{ nav_title ?? title }}
                            </a>
                            {{ if mount }}<span>&rarr;</span>{{ /if }}
                        </li>
                    {{ /children }}
                {{ /if }}
            </ul>
        </li>
    {{ /nav:collection:pages }}

    {{ /if }}
</ul>
