{{# <a href="https://github.com/statamic/cms" class="hidden md:block sticky z-50 -top-8 bg-gradient-to-r from-purple to-blue via-pink hover:bg-gradient-animate py-2 text-center text-white font-bold text-sm antialiased">
    ⭐️ If you like Statamic, give it a star on GitHub! ⭐️
</a> #}}
{{# <a href="https://laracasts.com/series/learn-statamic-with-jack?ref=statamic.dev" class="hidden md:block sticky z-50 -top-8 bg-gradient-to-r from-purple to-blue via-pink hover:bg-gradient-animate py-2 text-center text-white font-bold text-sm antialiased">
    📼 Learn Statamic with Jack &mdash; a 22 episode series — is now live on <span class="bg-yellow text-black px-1 rounded-sm">Laracasts!</span> 📼
</a> #}}
<a href="http://flatcamp.com?ref=statamic.dev" class="hidden md:block sticky z-50 -top-8 bg-gradient-to-r from-purple to-blue via-pink hover:bg-gradient-animate py-2 text-center text-white font-bold text-sm antialiased">
    ⛺️ Come to the first ever Statamic non-conference! Tickets for <b>Flat Camp 2023</b> are now for sale. ⛺️
</a>
