{{# <a href="https://github.com/statamic/cms" class="hidden md:block sticky z-50 -top-8 bg-gradient-to-r from-purple to-blue via-pink hover:bg-gradient-animate py-2 text-center text-white font-bold text-sm antialiased">
    ⭐️ If you like Statamic, give it a star on GitHub! ⭐️
</a> #}}
{{# <a href="https://laracasts.com/series/learn-statamic-with-jack?ref=statamic.dev" class="hidden md:block sticky z-50 -top-8 bg-gradient-to-r from-purple to-blue via-pink hover:bg-gradient-animate py-2 text-center text-white font-bold text-sm antialiased">
    📼 Learn Statamic with Jack &mdash; a 22 episode series — is now live on <span class="bg-yellow text-black px-1 rounded-sm">Laracasts!</span> 📼
</a> #}}
{{# <a href="https://statamic.com/blog/statamic-4-unleashed" class="hidden md:block sticky z-50 -top-8 bg-gradient-to-r from-purple to-blue via-pink hover:bg-gradient-animate py-2 text-center text-white font-bold text-sm antialiased">
    🔥 <b>Statamic 4 has been unleashed!</b> Explore what's new and improved &rarr;
</a> #}}
<a href="https://flatcamp.com" class="hidden md:block sticky z-50 -top-8 bg-gradient-to-r from-purple to-blue via-pink hover:bg-gradient-animate py-2 text-center text-white font-bold text-sm antialiased">
    🤌 Flat Camp EU 2024 tickets are now available! Come hang out with us for 3 days in Rome, Italy! 🇮🇹
</a>
