{{ if related_entries }}
    <section class="c-related">
        <div class="u-label">{{ badge ?? "Learn More!" }}</div>
        <p>{{ description ?? "There is more to learn more in these related articles:" }}</p>

        {{ related_entries as="entries" }}
            {{ entries group_by="collection:title" }}
                {{ groups }}
                    {{ items }}
                        <div class="c-related__item">
                            <ul>
                                <li><a href="{{ {mount_url :handle="collection:handle"} ?? '/' }}">{{ group }}</a></li>
                                <li>{{ svg src='breadcrumb-chevron' }}<a href="{{ url }}">{{ title }}</a></li>
                            </ul>
                        </div>
                    {{ /items }}
                {{ /groups }}
            {{ /entries }}
        {{ /related_entries }}
    </section>
{{ /if }}
