<div class="font-display font-bold text-xl border-b-2 border-gray">Docs</div>
{{ structure :for="for" }}
    <div class="text-lg font-medium font-display my-4">{{ title }}</div>
    <ul class="space-y-2 ml-4 font-display">
        {{ children scope="child" }}
            <li class="{{ is_current || is_parent ?= 'active' }}">
                <a href="{{ url }}" class="hover:text-pink">
                    {{ nav_title ?? title }}
                </a>
            </li>
        {{ /children }}
    </ul>
{{ /structure }}
