{{ structure for="screencasts" }}
    <h5>{{ title }}</h5>
    <ul>
        {{ children scope="child" }}
            <li class="{{ is_current || is_parent ?= 'active' }} mb-2">
                <a href="{{ url }}" class="flex items-start font-sans group">
                    {{ svg src="video-player-circle" class="w-4 h-4 mr-2 bg-yellow group-hover:bg-mint rounded"}}
                    <span class="flex-1 mr-3">{{ nav_title ?? title }}</span>
                    <span class="text-xs font-mono">{{ length }}</span>
                </a>
            </li>
        {{ /children }}
    </ul>
{{ /structure }}
