<a href="#main" class="c-skip-to-content u-screen-reader-text" title="Skip to content">
    Skip to content
</a>

<a href="#footer" class="c-skip-to-content u-screen-reader-text" title="Skip to footer navigation">
    Skip to footer navigation
</a>

<header class="c-docs-header">
    <div class="c-docs-header__inner">
        <a class="o-logo" href="/">
            {{ svg src='logomark' }}
            {{ svg src='wordmark' }}
        </a>
        <div class="c-docs-header__search">
            <form class="c-search-form" action="/search-results">
                <div id="docsearch" ref="docSearch"></div>
            </form>
            <div class="c-theme-picker">
                <div class="c-theme-picker__button">
                    <img class="c-theme-picker-light-icon u-hide-in-dark-mode" src="/img/theme-light.svg" alt="Light theme" />
                    <img class="c-theme-picker-dark-icon u-hide-in-light-mode" src="/img/theme-dark.svg" alt="Dark theme" />
                </div>
                <select id="color-scheme">
                    <option value="system">System</option>
                    <option value="dark">Dark</option>
                    <option value="light">Light</option>
                </select>
            </div>
        </div>
        <div class="c-nav-dots-with-popover-api">
            <button id="anchor-nav-dots" class="c-docs-header__nav-dots c-nav-dots-with-popover-api__mobile-button" popovertarget="popover-nav-dots">
                {{ svg src='nav-dots' }}
            </button>
            <nav id="popover-nav-dots" class="c-nav-dots-with-popover-api__mobile u-hide-on-large-screens" popover>
                <ul>
                    {{ nav:collection:sections include_home="true" }}
                        <li>
                            <a wire:navigate href="{{ url }}" {{ page:section === section ?= 'class="o-current-menu-item"' }}>{{ nav_title ?? title }}</a>
                        </li>
                    {{ /nav:collection:sections }}
                </ul>
            </nav>
            <nav class="c-nav-dots-with-popover-api__desktop u-hide-on-small-screens u-hide-on-medium-screens">
                <ul>
                    {{ nav:collection:sections include_home="true" }}
                        <li>
                            <a wire:navigate href="{{ url }}" {{ page:section === section ?= 'class="o-current-menu-item"' }}>{{ nav_title ?? title }}</a>
                        </li>
                    {{ /nav:collection:sections }}
                </ul>
            </nav>
        </div>
    </div>
</header>
