<div class="grid grid-cols-2 md:flex md:items-center text-gray-500 gap-3 w-auto">
    <a class="bg-white hover:bg-mint flex items-center rounded justify-center p-2 text-black text-sm antialaised" href="https://statamic.com/discord">
        {{ svg src="icons/discord"class="mr-2 h-5 w-5" }} Discord
    </a>
    <a class="bg-white hover:bg-mint flex items-center rounded justify-center p-2 text-black text-sm antialaised" href="https://github.com/statamic/cms">
        {{ svg src="icons/github" class="mr-2 h-5 w-5"}} Github
    </a>
    <a class="bg-white hover:bg-mint flex items-center rounded justify-center p-2 text-black text-sm antialaised" href="https://github.com/statamic/cms/discussions">
        {{ svg src="statamic-mark"class="mr-2 h-5 w-5" }} Discussions
    </a>
    <a class="bg-white hover:bg-mint flex items-center rounded justify-center p-2 text-black text-sm antialaised" href="https://twitter.com/statamic">
        {{ svg src="icons/twitter"class="mr-2 h-5 w-5" }} Twitter
    </a>
</div>
