<div class="relative mt-16">
    <img src="/img/splatter-colorful.png" alt="" class="absolute max-w-none w-[1076px] left-[-90px] top-[-92px]">
    <div class="bg-gray-lightest p-5 border shadow-stack relative z-10 w-full flex items-center justify-between">
        <div class="text-2xl font-display font-bold mb-3 md:mb-0">Suggestions</div>
        <p class="text-base">Help us improve the docs by suggesting new content</p>
        <a href="https://github.com/statamic/docs/issues/new" class="button">Suggest Content</a>
    </div>
</div>
