<div class="relative mt-16">
    <img src="/img/splatter-colorful.png" alt="" class="absolute max-w-none hidden lg:block w-[900px] lg:w-[1026px] left-[-140px] top-[-92px]">
    <div class="bg-gray-lightest p-5 border shadow-stack relative z-10 w-full md:flex items-center justify-between">
        <div class="text-2xl font-display font-bold mb-3 md:mb-0">Suggestions</div>
        <p class="text-base md:px-6 mb-3 md:mb-0 leading-tight">Help us improve the docs by suggesting new content</p>
        <a href="https://github.com/statamic/docs/issues/new" class="button">Suggest Content</a>
    </div>
</div>
