<div
    class="side-nav max-h-[100vh] overflow-y-auto px-6 w-[19rem] hidden lg:block"
    :style="{ position: 'sticky', top: $el.offsetTop + 'px', 'max-height': 'calc(100dvh - ' + $el.offsetTop + 'px)' }"
>
    <div class="text-base text-zinc-500 font-normal mt-2 mb-2 flex items-center dark:text-white" >
        On this page
    </div>
    <ol class="toc">
        <template x-for="el in document.querySelectorAll('article h2')" hidden>
            <li><a
                x-init="el.id = el.textContent.trim().replace(/\s+/g, '-').toLowerCase(); $el.setAttribute('href', '#'+el.id)"
                x-bind:class="$store.tocNavHighlighter.visibleHeadingId == el.id && 'active'"
                x-text="el.textContent"
            >
            </a></li>
        </template>
    </ol>
</div>
