    {{ if video }}
    <div class="bg-mint text-black flex items-center justify-between text-sm font-mono shadow-md border rounded">
        <span class="px-4 py-2">Learn by watching one of our brand new screencasts!</span>
        <a href="{{ video }}" class="bg-purple hover:bg-blue-darkest border-l rounded-r-sm pl-4 pr-6 py-2 no-underline text-white flex items-center" target="_blank">
            {{ svg src="video-player-circle" class="text-white h-5 w-5 mr-3" }}
            <span>Watch Now</span>
        </a>
    </div>
    {{ /if }}
