<header class="markdown pb-8 mb-8 border-b-2 border-grey-300">
    <h1>{{ title }}</h1>
    {{ intro | markdown }}
</header>

<article class="markdown pb-8">
    {{ content | noparse | toc:ids }}

    {{ taxonomy:types sort="order" }}
        <h3 id="{{ slug }}-variables">{{ title }}</h3>
        {{ content }}
        <table>
            {{ entries }}
            <tr>
                <td>
                    <a href="{{ url }}" class="font-display text-base text-pink-hot font-bold">{{ slug }}</a>
                </td>
                <td>
                    {{ description ?? overview | markdown }}
                </td>
            </tr>
            {{ /entries }}
        </table>
    {{ /taxonomy:types }}
</article>
