/node_modules
/public/hot
/public/storage
/public/css
/public/vendor/statamic
public/js
/storage/*.key
/storage/statamic/users
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
