.DS_Store
/node_modules
/public/hot
/public/storage
/public/css
/public/vendor/statamic
/public/js
/storage/*.key
/storage/statamic/users
/storage/debugbar/*
/storage/glide/*
/storage/antlers-language-server/*
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# When in dev...
/public/**/.meta
.antlers.json
