{{ partial:header }}

{{ collection:repositories as="repositories" }}
    <article class="c-panel-list">
        {{ repositories split="1" }}
            <ul>
                {{ items }}
                    <li>
                        <a href="{{ url }}">
                            {{ svg src="/img/repositories/{nav_title | slugify}" }}
                            {{ nav_title }}
                        </a>
                    </li>
                {{ /items }}
            </ul>
        {{ /repositories }}
    </article>
{{ /collection:repositories }}