/* GROUP LAYERS
=================================================== */
@layer
base,
elements,
objects,
components,
modifiers,
utilities,
plugins,
ui,
scope;

@import 'base/variables.css';
@import 'base/reset.css';
@import 'base/elements/elements.css';
@import 'base/elements/forms.css';
@import 'base/elements/tables.css';
/* Objects */
@import 'objects/badge-heading.css';
@import 'objects/entry-content.css';
@import 'objects/scroll-shadows.css';
@import 'objects/collapsible-side-menu-with-checkboxes.css';
/* Use JS for now until scroll-driven-animations are more widely supported */
/* @import 'objects/toc-scroll-spy.css'; */
@import 'objects/toc-js-scroll-spy.css';
/* Components > Global */
@import 'components/skip-to-content.css';
@import 'components/docs-header.css';
@import 'components/site-footer.css';
@import 'components/theme-picker.css';
@import 'components/version-selector.css';
/* Components > Global > Navigation */
@import 'components/nav/dots.css';
@import 'components/nav/sidebar.css';
@import 'components/nav/sidebar-advert.css';
@import 'components/nav/toc.css';
@import 'components/nav/breadcrumbs.css';
/* Components */
@import 'components/anchors.css';
@import 'components/entry-content.css';
@import 'components/buttons.css';
@import 'components/search-form.css';
@import 'components/logos.css';
@import 'components/tiles-with-description.css';
@import 'components/feedback-meerkat.css';
@import 'components/tip.css';
@import 'components/pill.css';
@import 'components/pill-with-description.css';
@import 'components/doc-tabs.css';
@import 'components/pro-badge.css';
@import 'components/icon-grid.css';
@import 'components/panel-list.css';
@import 'components/video.css';
@import 'components/related.css';
/* Components > Unique/Quriky */
@import 'components/list-turtles.css';
@import 'components/syntax-explainer.css';
@import 'components/quirky.css';
/* Components > Imagery */
@import 'components/imagery/full-width-image.css';
@import 'components/imagery/bordered-image.css';
/* Utilites */
@import 'utilities/animation-keyframes.css';
@import 'utilities/utilities.css';
@import 'utilities/hiders.css';
@import 'utilities/label.css';
@import 'torchlight.css';
@import 'scope/font-toggle.css';