/* GROUP COMPONENTS / TILES WITH DESCRIPTION
=================================================== */
/* Notes...

    URL example
    -----------
    Home

    What does it do?
    ----------------
    Lays out thumbnails with a title and short description

*/
/* HTML Example...

    <div class="c-tiles-with-description">
        {{ tiles }}
            <div class="c-tiles-with-description__item{{ flush_image ?= ' c-tiles-with-description__item--flush' }}">
                <a href="{{ tile_link }}" class="u-link-style-none">
                    <figure class="c-tiles-with-description__item__thumbnail">
                        {{ if tile_image_dark_mode }}
                            {{ tile_image }}
                                {{ partial:image_dimensions/tile modifier_classes='u-hide-in-dark-mode' }}
                            {{ /tile_image }}
                            {{ tile_image_dark_mode }}
                                {{ partial:image_dimensions/tile modifier_classes='u-hide-in-light-mode' }}
                            {{ /tile_image_dark_mode }}
                        {{ else }}
                            {{ tile_image }}
                                {{ partial:image_dimensions/tile }}
                            {{ /tile_image }}
                        {{ /if }}
                        <figcaption>{{ tile_title }}</figcaption>
                    </figure>
                </a>
                <p>{{ tile_description }}</p>
            </div>
        {{ /tiles }}
    </div>

*/
@layer components {
    .c-tiles-with-description {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 13em), 1fr));
        gap: calc(var(--spacing-l-1) + var(--spacing-s-5)) var(--spacing-s-4);
        /* Custom */
        @media (width >= 530px) {
            column-gap: var(--spacing-s-2);
        }
        padding-block-end: var(--spacing-l-2);
    }
    .c-tiles-with-description__item {
        max-width: 21rem;
        margin-inline: auto;
        font-family: var(--font-family-ui);
        p {
            padding-inline: var(--spacing-m);
            /* padding-inline: var(--spacing-s-1); */
            font-size: var(--font-size-ui);
            line-height: var(--font-size-ui-line-height);
            max-width: 16rem;
            text-align: center;
            margin-inline: auto;
        }

        position: relative;
        .external {
            a > & {
                /* Hide the direct .external links added with javascript because we want to add the icon elsewhere instead */
                display: none;
            }
            background: light-dark(hsl(var(--color-purple-hue) 70% 97%), transparent);
            border-radius: 50%;
            * {
                fill: var(--color-purple);
            }
        }

        figcaption {
            display: flex;
            justify-content: center;
            gap: 0.25rem;
        }
    }
    .c-tiles-with-description__item__thumbnail {
        padding: var(--spacing-s-2);
        margin-block-end: var(--spacing-s-3);
        text-align: center;
        background: var(--color-gradient-full-light-6);
        border: var(--dark-mode-border);
        border-radius: var(--border-radius-l-2);

        img {
            display: inline-block;
            max-width: 70%;
            filter: var(--filter-image-boost-1);
            /* Custom */
            @media (width < 500px) {
                margin-block-end: 0;
            }
        }
    }
    /* Custom */
    @media (width >= 500px) {
        .c-tiles-with-description__item p {
            text-align: left;
            /* Decrease */
            font-size: var(--font-size-s-2);
            font-weight: var(--font-family-ui-weight-normal);
            line-height: var(--font-size-s-2-line-height);
        }
    }
    /* Custom */
    @media (width >= 768px) {
        :is(header, p) + .c-tiles-with-description {
            padding-block-start: var(--spacing-s-4);
        }
    }
}
@layer modifiers {
    .c-tiles-with-description__item--flush {
        & img {
            max-width: 100%;
            /* Custom */
            @media (width < 500px) {
                margin-block-end: 1.2rem;
            }
        }
        .c-tiles-with-description__item__thumbnail {
            padding: var(--spacing-s-3);
        }
    }
}