/* GROUP COMPONENTS / TIP
=================================================== */
/* Notes...

    What does it do?
    ----------------
    A positive tip box with a troll. We also have a tip-warning component.

*/
/* HTML Example...

    <div class="c-tip">
        <div class="c-tip__title">Hot Tip!</div>
        <p>If a view file ends with <code>.blade.php</code> it will use Laravel’s <a href="https://statamic.dev/blade" >Blade templates</a>. This same pattern applies for any other template engine you may wish to install in the future, like Twig or something that hasn't been invented yet.</p>
        <img src="img/tip-troll.webp" class="c-tip__mascot" alt="A troll pointing a teaching stick" width="242" height="293" />
    </div>

*/
/* Modifiers...

    .c-tip--warning <- a warning tip such as leaving the debug bar on for production.
        - Uses an evil troll and red colours instead.

*/
@layer components {
    .c-tip,
    .tip,
    .best-practice {
        position: relative;
        z-index: var(--z-index-above-body);
        padding: var(--spacing-m) var(--spacing-l-1) var(--spacing-s-1);
        /* Custom */
        @media (width < 550px) {
            padding-inline: var(--spacing-m);
        }
        margin-block: var(--spacing-l-2);
        font-family: var(--font-family-ui);
        &:hover .c-tip__mascot {
            animation: wiggle 0.5s linear;
        }
        &::before {
            content: '';
            position: absolute;
            inset: 0;
            z-index: var(--z-index-below-body);
            background: var(--color-gradient-burnt);
            rotate: -1deg;
            border-radius: var(--border-radius-l-3);
        }
        p {
            max-width: 96%;
            &:last-of-type {
                /* Custom */
                @media (width < 500px) {
                    /* The only reason we reduce this to zero at lower MQs is because the background rotation is not noticeable anymore, so we need to balance things out more */
                    margin-block-end: 0;
                }
            }
            font-size: unset;
            font-weight: var(--font-family-ui-weight-medium);
            /* Custom */
            @media (width < 500px) {
                font-size: 0.9rem;
            }
        }
        /* GROUP COMPONENTS / TIP / SCOPE TWEAKS
        =================================================== */
        &:has(+ h2) {
            /* e.g. >> /updating */
            margin-block-end: var(--spacing-m);
        }
        header:has(+ &) + & {
            /* e.g. >> /updating */
            margin-block-start: var(--spacing-m);
        }
    }
    /* Cross pollinated */
    .c-tip__title,
    .hint-title {
        display: inline-block;
        padding: var(--spacing-s-5) var(--spacing-s-1);
        margin-block-end: var(--spacing-m);
        font-size: var(--font-size-l-1-uppercase);
        text-transform: uppercase;
    }
    .c-tip__title--long {
        font-size: var(--font-size-m-uppercase);
    }
    /* img*/
    .c-tip__mascot {
        position: absolute;
        z-index: var(--z-index-above-body);
        top: -1.3rem;
        left: -2.5rem;
        inline-size: 5rem;
        filter: var(--filter-burnt-shadow);
    }
}
@layer scope {
    .c-tip--warning {
        &::before {
            background: var(--color-gradient-burnt-dark);
        }
        .c-tip__title {
            &, &::before {
                background: var(--color-red-burnt-1);
                color: var(--color-red-bright);
                border-radius: var(--border-radius-s);
            }
            @container style(--color-scheme: dark) {
                border: 1px solid var(--color-red);
                &, &::before {
                    rotate: unset;
                    border-radius: var(--border-radius-m);
                }
            }
        }
        img {
            filter: hue-rotate(-20deg) saturate(1.25);
        }
        code {
            background: var(--color-gradient-fire);
        }
    }
}