html {
    height: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

body {
    min-height: 100%;
    background: url('/img/splatter-tall.jpg') repeat-y;
    background-position: right top;
    background-size: 200px 6500px;
}

article, .markdown {
    background: white;
    h1 {
        @apply font-display font-extrabold text-7xl mb-6;
    }

    h2 {
        @apply font-display font-extrabold text-3xl mb-6 mt-16 relative;
    }

    h3 {
        @apply font-display font-extrabold text-xl mb-2 mt-12 relative;
    }

    p {
        @apply text-lg mb-6;
        line-height: 1.75em;
    }

    ul {
        @apply mb-6;
    }

    a {
        @apply text-pink font-bold underline;
        &:hover {
            @apply text-purple;
        }
    }

    a svg.external {
        @apply inline-block text-gray-dark;
        vertical-align: text-top;
    }

    h2>.anchor,
    h3>.anchor {
        @apply absolute top-0 no-underline text-white opacity-0;
        text-shadow: -1px -1px 0 theme('colors.pink.DEFAULT'),
            1px -1px 0 theme('colors.pink.DEFAULT'),
            -1px 1px 0 theme('colors.pink.DEFAULT'),
            1px 1px 0 theme('colors.pink.DEFAULT');
        transition: all .2s ease-in-out;
        &:hover {
            @apply text-pink;
            text-shadow: none;
        }
    }

    h2 > .anchor {
        @apply -left-10 pr-4;
    }

    h2:hover > .anchor {
        @apply -left-8 opacity-100;
    }

    h3 > .anchor {
        @apply -left-7 pr-2;
    }

    h3:hover > .anchor {
        @apply -left-5 opacity-100;
    }

    > ul:not(.list-none) {
        @apply pl-0 list-none mb-6 text-base;

        li {
            @apply relative pl-6 mb-2;

            &::before {
                @apply absolute inline-block;
                content: url('/img/triangle-pink.svg');
                top: 10px;
                left: 2px;
            }

            &:nth-child(3n+0)::before {
                content: url('/img/triangle-pink.svg');
            }

            &:nth-child(3n+1)::before {
                content: url('/img/triangle-purple.svg');
            }

            &:nth-child(3n+2)::before {
                content: url('/img/triangle-teal.svg');
            }

            a {
                @apply underline text-pink font-bold;

                &:hover {
                    @apply text-pink;
                }
            }
        }
    }

    > ol {
        @apply list-none mb-6 text-lg;
        counter-reset: item;

        >li {
            @apply relative pl-10 mb-2;
        }

        >li::before {
            @apply absolute top-0 left-0 mt-px flex items-center justify-center h-6 w-6 bg-yellow rounded-full text-lg font-bold font-display;
            content: counter(item);
            counter-increment: item;
        }
    }

    table {
        @apply border-2 rounded-md border-separate overflow-hidden;
        border-spacing: 0;

        thead {
            @apply bg-black text-white font-display font-bold text-lg;
            th {
                @apply px-5 py-2 text-left;
            }
        }
        tbody {
            tr {
                @apply even:bg-gray-lightest;
            }
            td {
                @apply px-5 py-3;
            }
            p {
                @apply text-base leading-tight;
            }
            :not(pre) > code {
                @apply bg-transparent font-bold text-purple;
            }
        }
    }

    blockquote {
        @apply bg-black px-7 pt-7 pb-5 my-12 text-white antialiased relative shadow-pink-lg;

        &:before {
            content: '';
            background: url('/img/label-tip.svg') no-repeat;
            height: 40px;
            width: 94px;
            position: absolute;
            top: -10px;
            left: -12px;
            z-index: 2;
        }

        &.tip {

        }

        &.warning {
            @apply shadow-purple-lg;
            &:before {
                background: url('/img/label-warning.svg') no-repeat;
            }
        }

        &.best-practice {
            @apply shadow-teal-lg mt-10;
            &:before {
                background: url('/img/label-best-practice.svg') no-repeat;
                height: 48px;
                width: 138px;
                top: -18px;
                left: -16px;
            }
        }z

        p {
            @apply text-base;
        }

        p:last-child {
            @apply mb-0;
        }
    }
}

.markdown-tight, table {
    h1, h2, h3, h4, h5, h6 {
        @apply m-0;
    }

    p, ul, ol {
        font-size: inherit;
    }

    p:last-child {
        @apply mb-0;
    }
}

.parameter .markdown {
    p {
        @apply text-base;
    }

    :not(pre)>code {
        @apply bg-transparent text-purple font-bold text-sm;
    }
}

.toc {
    @apply font-display py-3 space-y-4;
    column-count: 3;
    column-rule: 1px dashed theme('colors.black');

    li {
        @apply px-3 leading-tight text-base;
    }

    li a {
        @apply text-black no-underline hover:text-pink font-medium;
    }
}

figure, .screenshot {
    @apply rounded-lg shadow-lg bg-gradient-to-br from-blue-dark to-blue-light px-6 py-6 pb-12 mb-12 relative;

    img {
        @apply border-2 shadow-lg mx-auto;
        /* box-sizing: content-box; */
    }

}

.caption,
figure figcaption {
    @apply bg-black px-3 py-1 text-blue-lightest text-sm inline-block antialiased absolute right-8 bottom-6 transform -rotate-2;

    code {
        font-size: 12px !important;
        padding: 1px 2px !important;
    }
}

.button {
    @apply py-1 px-5 relative inline-block bg-yellow rounded border-2 shadow-md font-display text-base whitespace-nowrap transition;

    &:hover {
        box-shadow: none;
        transform: translate(2px, 2px);
    }

    &:focus {
        @apply outline-none shadow-outline;
    }
}

#site-nav {
    ul li a {
        @apply py-2;
    }

    ul li a.active {
        @apply font-bold;
        background: url('/img/zigzag.svg') 0 90% repeat-x;
        background-size: auto 4px;
    }
}

.side-nav li.active a {
    @apply relative font-bold;

    &:before {
        @apply absolute bg-yellow;
        z-index: -1;
        height: 9px;
        top: 10px;
        left: -5%;
        width: 110%;
        content: '';
    }
}

.hover\:bg-gradient-animate {
    background-size: 200% 200%;
}

.bg-gradient-animate,
.hover\:bg-gradient-animate:hover {
    background-size: 200% 200%;
    animation: colorSweep 5s ease infinite;
}

@keyframes colorSweep {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
}

.turbo-progress-bar {
    /* @apply bg-pink; */
    /* height: 5px; */
    display: none;
}

[x-cloak] {
    display: none;
}

/* .overflow-state {
    @apply overflow-hidden max-h-screen fixed;
} */

.hover\:underline-grow,
.hover-within\:underline-grow a {
    position: relative;

    &:after {
        @apply absolute block bg-white right-0 w-0;
        content: '';
        height: 1px;
        margin-top: 2px;
        ;
        transition: width .2s ease;
        -webkit-transition: width .2s ease;
    }

    &:hover:after {
        width: 100%;
        left: 0;
        background: #fff;
    }
}
