body {
    background-color: #fff;
}
@screen lg {
    body {
        background-image: url('/img/zigs-top-right.svg'), url('/img/zigs-bottom-left.svg');
        background-repeat: no-repeat;
        background-position: calc(100% - 8px) top, 80px calc(100% - 160px);
    }
}

a, button {
    color: inherit;
    text-decoration: none;
    /* cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQ…LaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer; */
}

.button {
    @apply h-7 bg-yellow rounded border-2 shadow-md px-4 font-display text-sm font-bold antialiased transition;

    &:hover {
        @apply shadow;
    }
    &:focus {
        @apply outline-none shadow-outline;
    }
}

header {
    p {
        @apply text-xl !important;
    }
}

.transition {
    transition: all .05s ease-in !important;
}

.table-collapse {
    border-collapse: collapse !important;
}

figure, .screenshot {
    @apply bg-yellow px-6 py-10 mb-16 relative;
    img {
        @apply border shadow-md mx-auto;
        box-sizing: content-box;
    }
}

.caption, figure figcaption {
    @apply px-4 py-1 italic font-display mt-6 text-sm font-bold w-full text-center;
}

@screen lg {
    .caption, figure figcaption {
        @apply bg-blue-lightest border shadow font-display mt-0 text-sm font-bold absolute -bottom-16 right-64 w-auto text-left;
    }
}

.badge {
    @apply bg-mint border inline-block shadow-md-mint text-sm font-display py-1 px-2 uppercase italic font-bold;
}

a svg.external {
    @apply inline-block text-grey-500;
    vertical-align: text-top;
}

.rot-1 {
    transform: rotate(1deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}
.\-rot-1 {
    transform: rotate(-1deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}
.rot-2 {
    transform: rotate(2deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}
.\-rot-2 {
    transform: rotate(-2deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}
.rot-3 {
    transform: rotate(3deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}
.\-rot-3 {
    transform: rotate(-3deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}
