html {
    height: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body {
    min-height: 100%;
    /* background: url('/img/splatter-tall.jpg') repeat-y; */
    background-position: right top;
    background-size: 200px 6500px;
}

.wrapper {
    @apply max-w-screen-2xl mx-auto px-6;
}

/* Navs */
/* -------------------------------------------------- */

#site-nav {
    ul li a {
        @apply py-2 text-zinc-600;
    }

    ul li a.active {
        @apply font-medium;
        background-size: auto 4px;
    }
}

.side-nav li a {
    @apply text-base text-zinc-500;
}
.side-nav li.active a {
    @apply relative font-normal text-black;

    /* &:before {
        @apply absolute;
        z-index: -1;
        height: 9px;
        top: 10px;
        left: -5%;
        width: 110%;
        content: '';
    } */
}

.dark .side-nav li.active a {
    @apply !important;
    /* &:before { display: none; } */
}
