.markdown {
    @apply bg-transparent leading-relaxed text-blue-dark;

    > h1 {
        @apply text-5xl text-blue-darkest font-display font-bold mb-6 -mt-1 leading-none;
    }

    > h2 {
        @apply text-2xl text-blue-darkest font-bold mb-4 leading-tight mt-12 pt-4;
    }

    > h3 {
        @apply text-lg text-blue-darkest font-bold mb-4 mt-12 leading-tight;
    }

    > h4 {
        @apply text-blue-darkest font-bold mb-2 mt-12 leading-tight;
    }

    > h5 {
        @apply font-display font-bold italic text-blue-darkest;
    }

    > p, > blockquote > p {
        @apply text-base mb-6;
        strong {
            @apply text-blue-darkest;
        }
    }

    > blockquote {
        @apply bg-blue-lightest border shadow-md py-4 pl-12 pr-4 font-display relative text-sm mb-8;

        &:before {
            content: '';
            background: url('/img/hot-tip.svg') no-repeat;
            height: 35px;
            width: 70px;
            position: absolute;
            top: 6px;
            left: -35px;
            z-index: 2;
        }

        &.mouth:before {
            content: '';
            background: url('/img/open-mouth.svg') no-repeat;
            height: 50px;
            width: 64px;
            position: absolute;
            top: -10px;
            left: -32px;
            z-index: 10;
        }

        p {
            @apply text-sm;
            &:last-child { @apply mb-0; }
        }
        strong {
            @apply italic;
        }
    }

    > hr {
        @apply border-t-2 border-grey-300 my-16;
    }

    a {
        @apply underline text-pink-hot font-medium;
        &:hover {
            @apply text-pink-bright;
        }
    }

    ul:not(.list-none) {
        @apply pl-0 list-none mb-6;
        li {
            @apply relative pl-6 mb-2;
            &::before {
                @apply absolute inline-block;
                content: url('/img/triangle-pink.svg');
                top: 10px;
                left: 2px;
            }
            &:nth-child(3n+0)::before {
                content: url('/img/triangle-pink.svg');
            }
            &:nth-child(3n+1)::before {
                content: url('/img/triangle-purple.svg');
            }
            &:nth-child(3n+2)::before {
                content: url('/img/triangle-teal.svg');
            }
            a {
                @apply underline text-pink-hot font-medium;
                &:hover {
                    @apply text-pink-bright;
                }
            }
        }
    }

    ol {
        @apply list-none mb-6;
        counter-reset: item;

        > li {
            @apply relative pl-10 mb-2;
        }

        > li::before {
            @apply absolute top-0 left-0 mt-px flex items-center justify-center h-6 w-6 bg-yellow rounded-full text-blue-darkest text-lg font-bold italic font-display;
            content: counter(item);
            counter-increment: item;
        }
    }

    /* Code blocks in headers */
    h1 > code, h2 > code, h3 > code, h4 > code {
        @apply text-pink-hot bg-grey-200 rounded-sm relative;
        font-size: 90%;
        padding: .1em .2em;
        bottom: .05rem;
    }

    :not(pre):not(h1):not(h2):not(h3):not(h4) > code {
        @apply bg-grey-200 leading-normal rounded-sm relative;
        font-size: 80%;
        padding: .1em .2em;
        bottom: .05rem;
    }

    > p code,
    > ul li *:not(pre) code,
    > ul li > code,
    > ol li *:not(pre) code,
    > ol li > code {
        @apply inline-block bg-grey-200 text-sm px-1 leading-none whitespace-no-wrap text-purple font-mono align-baseline;
        font-weight: 400;
    }

    > blockquote *:not(pre) > code {
        @apply bg-blue-light text-white !important;
    }

  > pre, pre&, > ul li pre, > ol li pre {
    @apply flex p-0 bg-grey-800 ;
    @apply text-sm leading-loose;
  }

  > pre code, pre code&, > ul li pre code, > ol li pre code {
    @apply p-4;
  }

  li > pre, li > .prism-show-language {
      @apply mt-4;
  }

  > table {
    @apply w-full text-left table-collapse;
    th {
      @apply text-sm font-bold text-grey-700 p-2 bg-grey-100;
    }
    td {
      @apply p-2 border-t border-grey-200 text-sm;
      code {
        @apply bg-grey-100 px-1 font-mono text-xs text-purple align-baseline;
      }
      &:first-child {
        @apply border-grey-300;
      }
    }
  }

}