/* Algolia DocSearch Variables */
:root {
    --docsearch-primary-color: theme('colors.purple') !important;
    --docsearch-text-color: rgb(28, 30, 33);
    --docsearch-spacing: 16px !important;
    --docsearch-icon-stroke-width: 1.4;
    --docsearch-highlight-color: var(--docsearch-primary-color);
    --docsearch-muted-color: rgb(150, 159, 175);
    --docsearch-container-background: rgba(101, 108, 133, 0.4) !important;
    --docsearch-logo-color: theme('colors.black') !important;

    /* modal */
    --docsearch-modal-width: 760px !important;
    --docsearch-modal-height: 600px;
    --docsearch-modal-background: #fff !important;
    --docsearch-modal-shadow: 4px 4px 0 theme('colors.black') !important;

    /* searchbox */
    --docsearch-searchbox-height: 56px;
    --docsearch-searchbox-background: #fff !important;
    --docsearch-searchbox-focus-background: #fff;
    --docsearch-searchbox-shadow: inset 0 0 0 2px var(--docsearch-primary-color);

    /* hit */
    --docsearch-hit-height: 56px;
    --docsearch-hit-color: rgb(68, 73, 80);
    --docsearch-hit-active-color: #fff;
    --docsearch-hit-background: theme('colors.gray.lightest') !important;
    --docsearch-hit-shadow: none !important;

    /* key */
    --docsearch-key-gradient: #fff !important;
    --docsearch-key-shadow: inset 0 -2px 0 0 rgb(205, 205, 230),
        inset 0 0 1px 1px #fff, 0 1px 2px 1px rgba(30, 35, 90, 0.4);

    /* footer */
    --docsearch-footer-height: 56px !important;
    --docsearch-footer-background: #fff;
    --docsearch-footer-shadow: none !important;
}


/* Overrides */
/* -------------------------------------------------- */

.docsearch-modal {
    @apply rounded-lg border !important;
}

.docsearch-hit-container {
    @apply h-16 !important;
}

.docsearch-hit-content-wrapper {
    @apply mx-4 flex-col-reverse !important;
}

.docsearch-modal-footer {
    @apply justify-end !important;
}

.docsearch-modal-footer-commands {
    @apply hidden !important;
}

.docsearch-footer {
    @apply border-t !important;
}

.docsearch-hit-path {
    @apply text-lg font-display font-medium text-black !important;
}

.docsearch-hits mark {
    color: inherit !important;
}
#docsearch {
    @apply w-full !important;
}

.docsearch-btn {
    @apply h-5 m-0 w-full text-black antialiased font-normal cursor-text !important;
    &:hover {
        box-shadow: none !important;
    }
}

.docsearch-btn-keys {
    @apply hidden lg:flex ml-auto !important;
}
.docsearch-btn-key {
    @apply bg-white border shadow-md text-black uppercase pb-0 min-w-[20px] h-[18px] relative !important;
    top: -1px !important;
}

.docsearch-button-container {
    @apply flex-1 !important;
}

.dark {
    .docsearch-btn {
        @apply bg-transparent !important;
    }
    .docsearch-btn-key  {
        @apply bg-transparent !important;
    }
}
