<header class="markdown pb-8 mb-8">
    {{ partial:breadcrumbs }}
    <div class="flex items-center">
        <h1>{{ title ensure_right=" Tag" }}</h1>
        {{ partial:pro-badge }}
    </div>
    {{ intro ?? overview | markdown }}
    {{ partial:toc }}
</header>

<article class="markdown pb-8">
    <figure>
        {{ screenshot }}
        <img src="{{ url }}" width="{{ width | /:2 | +:2 }}" alt="{{ title }} Fieldtype UI">
        {{ /screenshot }}
        <figcaption>Behold! The {{ title }}!</figcaption>
    </figure>

    {{ content | toc:ids }}

    {{ if options }}
        <h2 id="options">Options</h2>
        {{ partial:details :details="options" }}
    {{ /if }}
</article>

{{ partial:edit }}
