/* GROUP COMPONENTS / NAV DROPDOWN WITH POPOVER API AND ANCHOR POSITIONING / API
=================================================== */
@layer components {
    .c-nav-sidebar-with-popover-api {
        --dropdown-nav-item-padding: 0.3rem;
        position: sticky;
        grid-area: sidebar-1;

        nav,
        nav [popover] {
            /* Reset */
            margin: 0;
            padding: 0;
            border: 0;

            display: none;
            opacity: 0;
            transition: opacity 350ms, margin 350ms allow-discrete, display 350ms allow-discrete, overlay 350ms allow-discrete;

            &:popover-open {
                display: block;
                opacity: 1;

                @starting-style {
                    /* opacity: 0; */
                    margin-block-start: 0;
                    margin-inline-start: -50%;
                    &::backdrop {
                        /* Needed to get the popover backdrop to fade in when opening */
                        opacity: 0;
                    }
                }
            }
        }
        nav {
            /* Override the default background color of the popover */
            background: inherit;
            [popover] {
                max-width: 14rem;
                &:popover-open {
                    margin-block-start: var(--spacing-s-5);
                }
            }
        }
        #anchor-nav-mobile {
            anchor-name: --anchor-nav-mobile;
        }
        #popover-nav-sidebar {
            position-anchor: --anchor-nav-mobile;
        }
        /* GROUP COMPONENTS / NAV DROPDOWN WITH POPOVER API AND ANCHOR POSITIONING / MOBILE NAV BUTTON
        =================================================== */
        .c-nav-sidebar-with-popover-api__mobile-button {
            padding: 1.2rem;
            margin: 0;
            background: var(--color-dropdown-nav-background);
            border-radius: 40%;
            box-shadow: var(--box-shadow-not-t-medium);
            svg {
                color: var(--color-primary-text);
            }
        }
        /* GROUP COMPONENTS / NAV DROPDOWN WITH POPOVER API AND ANCHOR POSITIONING / CLOSE BUTTON
        =================================================== */
        .c-nav-sidebar-with-popover-api__close-button {
            position: absolute;
            z-index: var(--z-index-above-body);
            right: 1rem;
            top: 1.25rem;
            margin-inline-end: 0;
            & svg {
                font-size: 1rem;
                inline-size: unset;
            }
        }
        /* GROUP COMPONENTS / NAV DROPDOWN WITH POPOVER API AND ANCHOR POSITIONING / NAV STYLING
        =================================================== */
        nav {
            color: var(--color-primary-text);
            & * {
                line-height: 1.5;
                font-weight: var(--font-family-ui-weight-light);
            }
            .c-nav-sidebar-with-popover-api-category-heading {
                a {
                    display: flex;
                    max-width: 17rem;
                    max-height: 4.1rem;
                    gap: var(--spacing-s-1);
                    align-items: center;
                    justify-content: space-between;
                    padding: var(--spacing-s-3) var(--spacing-m);
                    margin-block-end: var(--spacing-s-1);
                    font-family: var(--font-family-prose);
                    font-size: var(--font-size-l-2);
                    line-height: var(--font-size-l-2-line-height);
                    /* --mq-nav-open-after to custom */
                    @media (width >= 1100px) and (width < 1240px) {
                        font-size: var(--font-size-l-1);
                        line-height: var(--font-size-l-1-line-height);
                    }
                    border-radius: 50px;
                    box-shadow: var(--box-shadow-not-t-light);
                    text-decoration: none;
                    &:focus-visible {
                        /* Pull the focus outline state in slightly on the category headings so it doesn't disappear into the overflow:hidden; */
                        outline-offset: -3px;
                    }
                    /* --mq-text-bump-2-after */
                    @media (width >= 1441px) {
                        padding: var(--spacing-s-2) var(--spacing-l);
                    }
                }
                img {
                    inline-size: 1.45em;
                }
                /* [1] Has .o-current-menu-item itself */
                &.o-current-menu-item a,
                /* [/2] Or has a sub nav with .o-current-menu-item */
                &:has(+ * .o-current-menu-item) a {
                    box-shadow: none;
                    background: var(--color-gradient-full-light-2);
                }
            }

            & ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: var(--spacing-m);
                font-size: var(--font-size-s-2);
                overscroll-behavior-y: contain;
                /* Need to cut this short a little to force scrolling when there are a lot of items. */
                &:not(ul ul) {
                    height: 100dvh;
                }
                /* Increase */
                outline-offset: 5px;

                & li {
                    padding-block-end: 0;
                    a {
                        /* Otherwise the sidebar might grow too big e.g. >> /reference */
                        max-width: 12rem;
                    }
                    &:not(ul ul *) {
                        position: relative;
                        &::before {
                            content: "";
                            position: absolute;
                            z-index: var(--z-index-below-body);
                            top: 4.1rem;
                            left: var(--spacing-l);
                            height: calc(100% - 4.1rem);
                            border-inline-start: 1px solid var(--color-pink-light-3-static);
                        }
                    }

                    & button {
                        text-align: left;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        gap: var(--spacing-s-2);
                        /* Reset */
                        margin-inline-end: 0;
                        padding: 0;
                        cursor: pointer;
                        & svg {
                            font-size: 0.6em;
                        }
                    }

                    & ul {
                        gap: var(--spacing-s-5);
                        max-height: unset;
                        padding: 0 var(--spacing-l-2-horizontal);
                        font-size: var(--font-size-ui-rem);
                        & a, button, span {
                            /* Increase the pointer targets a little to improve usability */
                            padding: var(--dropdown-nav-item-padding);
                            display: inline-block;
                        }
                        .o-current-menu-item {
                            text-decoration: none;
                            font-weight: var(--font-family-ui-weight-medium);
                            &::before {
                                content: '';
                                border-inline-start: 4px solid var(--color-pink-light-1);
                                position: absolute;
                                left: calc(0% + var(--spacing-l));
                                height: 2em;
                                transform: translateY(-0.25em);
                            }
                        }
                    }
                }

                /* Subnav */
                & ul[popover] {
                    &:popover-open {
                        display: flex;
                    }
                    padding: var(--spacing-m);
                    /* Just clear the outline state of the parent so it looks cleaner when tabbing through with a keyboard */
                    margin-block-start: var(--spacing-s-5);
                    letter-spacing: 1px;
                    & a, button {
                        outline-offset: unset;
                    }
                }
            }
            & a:not(.o-current-menu-item) {
                /* https://app.typographychecklist.com/ - 43. Links that are clearly part of navigation usually don't need a special link treatment. */
                text-decoration: none;
            }
        }
        /* GROUP COMPONENTS / NAV DROPDOWN WITH POPOVER API AND ANCHOR POSITIONING / MQS
        =================================================== */
        /* --mq-nav-open-before */
        @media (width < 1100px) {
            padding-inline: var(--spacing-s-3);
            top: 0.8rem;
            z-index: var(--z-index-above-nav);
            display: inline-block;

            .c-nav-sidebar-with-popover-api__desktop {
                /* Prevent a lag in seeing the desktop nav collapse if you pull the window in  */
                transition: unset;
            }
            #popover-nav-sidebar {
                /* position-area: bottom span-right; */
                box-shadow: var(--box-shadow-medium);
                &:not(:popover-open) {
                    pointer-events: none;
                }
                body:has(&:popover-open) {
                    /* Stop the body scrolling if you try and scroll a toc that's shorter than the viewport height */
                    overflow: clip;
                }
            }
            nav {
                background: var(--color-dropdown-nav-background);
                width: min(85%, 24rem);
                &::backdrop {
                    transition: all 0.5s var(--animation-timing-function-hipster) 0s;
                }
                &:popover-open::backdrop {
                    backdrop-filter: blur(5px);
                    background: var(--popover-backdrop);
                }
                & ul {
                    padding: var(--spacing-l-3) var(--spacing-s-3);
                    & ul {
                        padding: 0 var(--spacing-l-2);
                    }
                }
            }
            .c-nav-sidebar-with-popover-api-category-heading {
                inline-size: 91%;
            }
        }
        /* --mq-nav-open-after */
        @media (width >= 1100px) {
            --top: 9rem;
            top: var(--top);
            block-size: calc(100vh - var(--top) -  3.5rem);
            .c-nav-sidebar-with-popover-api__mobile {
                /* Prevent a lag in seeing the mobile nav collapse if you pull the window out  */
                transition: unset;
            }
            --color-dropdown-nav-background: unset;
            nav {
                /* Override `popover`'s default position:fixed; */
                position: relative;
                display: block;
                opacity: 1;
                inline-size: 100%;
                max-width: var(--max-width-1);
                margin-inline: auto;
                padding-block-end: var(--spacing-l);
            }
            .c-nav-sidebar-with-popover-api__mobile-button {
                display: none;
            }
            .c-nav-sidebar-with-popover-api__desktop ul:not(ul ul) {
                /* Need to cut this short a little to force scrolling when there are a lot of items. */
                height: 80dvh;
                /* --mq-text-bump-2-before */
                @media (width < 1441px) {
                    max-width: 15.5rem;
                }
                padding-block-end: var(--spacing-l);
            }
        }
    }
}