<header class="markdown pb-12 mb-12 border-b-2 border-grey-300">
    <h1>{{ title }}</h1>
    <div class="text-xl">
        {{ intro | markdown }}</p>
    </div>
</header>

<article class="markdown pb-8">
    {{ content | toc:ids }}

    {{ taxonomy:modifier_types collection="modifiers" }}
        <h3>{{ title | title }}</h3>
        <div class="column-list-3">
            {{ entries sort="slug" }}
                <div><a href="{{ url }}">{{ slug }}</a></div>
            {{ /entries }}
        </div>
    {{ /taxonomy:modifier_types }}
</article>
