<header class="markdown pb-8 mb-8">
    {{ partial:breadcrumbs }}
    <h1>{{ title }}</h1>
    {{ intro | widont }}
    {{ partial:toc }}
</header>

<article class="markdown pb-8">
    {{ content | toc:ids }}

    <div class="space-y-10">
        {{ taxonomy:modifier_types collection="modifiers" }}
            <div class="bg-white border p-8 w-full rounded-sm shadow-stack z-10 font-mono-alt font-bold antialiased">
                <h3 class="m-0">{{ title | title }}</h3>
                <ul class="list-col-3 mb-0">
                    {{ entries sort="slug" }}
                        <li><a class="" href="{{ url }}">{{ slug }}</a></li>
                    {{ /entries }}
                </ul>
            </div>
        {{ /taxonomy:modifier_types }}
    </div>
</article>

{{ partial:related }}

