{{ partial:header }}

{{ collection:fieldtypes as="fieldtypes" }}
    <article class="c-panel-list">
        {{ fieldtypes split="1" }}
            <ul>
                {{ items }}
                    <li>
                        <a href="{{ url }}">
                            {{ svg src="/img/fieldtypes/icons/{slug}" }}
                            {{ title }}
                        </a>
                    </li>
                {{ /items }}
            </ul>
        {{ /fieldtypes }}
    </article>
{{ /collection:fieldtypes }}

{{ $hide_toc = 'yes' }}
