<header class="markdown pb-8 mb-8 border-b-2 border-grey-300">
    <h1>{{ title ensure_right=" Fieldtype"}}</h1>
    {{ intro ?? overview | markdown }}
    {{ partial:video_link }}
</header>

<article class="markdown pb-8">
    <figure>
        {{ screenshot }}
        <img src="{{ url }}" width="{{ width | /:2 }}px" alt="{{ title }} Fieldtype UI">
        {{ /screenshot }}
        <figcaption>Behold! The {{ title }} Fieldtype!</figcaption>
    </figure>

    {{ content | toc:ids }}

    {{ if options }}
        <h2 id="options">Options</h2>
        {{ partial:details :details="options" }}
    {{ /if }}
</article>

{{ partial:edit }}
