<header class="markdown pb-8 mb-8 border-b-2 border-grey-300">
    <h1>{{ title ensure_right=" Fieldtype"}}</h1>
    {{ intro ?? overview | markdown }}
    {{ if ! hide_stage }}
    <div class="badge -rot-3">
        <a href="/writing-stages" class="no-underline text-teal-dark font-bold hover:text-pink-hot">Writing Stage</a>: {{ stage ?? "Prewriting" }}
    </div>
    {{ /if }}
</header>

<article class="markdown pb-8">
    <figure>
        {{ screenshot }}
        <img src="{{ url }}" width="{{ width | /:2 }}px" alt="{{ title }} Fieldtype UI">
        {{ /screenshot }}
        <figcaption>Behold! The {{ title }} Fieldtype!</figcaption>
    </figure>
    {{ content | noparse | toc:ids }}


    {{#<div class="border-b border-grey-400 mt-4 pb-4 text-sm">
        <h3 class="mb-1">
            <span class="font-display font-bold">{{ name }}</span>
            <span class="text-xs text-grey-500">{{ type }}</span>
        </h3>
        {{ description }}
    </div>#}}

    {{ options }}
    <div class="{{ ! last ??= 'border-b' }} border-grey-400 mt-4 pb-4 text-sm">
        <h3 class="mb-3 badge text-sm lowercase">
            <span class="font-display font-bold">{{ name }}</span>
            <span class="text-xs opacity-75">{{ type }}</span>
        </h3>
        {{ description }}
    </div>
    {{ /options }}
</article>
