/* GROUP OBJECTS / ENTRY CONTENT
=================================================== */
/* Notes...

    What does it do
    ---------------
    - A simple container to just emulate the layout of .c-entry-content
    - We need this for other content in the central column that should follow the same layout boundaries of the entry content, e.g. Docs Feedback

*/
/* HTML Example...

    <div class="o-entry-content">
        <div class="c-feedback-meerkat">
            <h2>Docs Feedback</h2>
            <p>Submit improvements, related content, or suggestions through Github.</p>
            <a href="https://github.com/statamic/docs/issues/new" class="c-btn c-btn--1">Betterify this page</a>
            <img src="/img/meerkat.webp" alt="Meerkat" width="150" height="278">
        </div>
    </div>

*/

@layer objects {
    .o-entry-content {
        max-width: var(--max-width-content);
        /* --mq-nav-open-before */
        @media (width < 1250px) {
            margin-inline: auto;
        }
        padding-inline: var(--spacing-l-1);
        /* --mq-wider-entry-content-after */
        @media (width >= 1500px) {
            padding-inline: var(--spacing-l);
        }
    }
}